/dts-v1/;

#include <dt-bindings/clock/qcom,gcc-canoe.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/soc/qcom,rpmh-rsc.h>

/ {
	model = "OnePlus 15 (Canoe early bring-up)";
	compatible = "oneplus,oneplus-15", "qcom,canoe";

	interrupt-parent = <&intc>;

	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyMSM0,115200n8 earlycon=qcom_geni,0x00a9c000 keep_bootcon ignore_loglevel loglevel=8";
	};

	memory@a0000000 {
		device_type = "memory";
		/* We expect the bootloader to fill in the size. */
		reg = <0x0 0xa0000000 0x0 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		aop_cmd_db_mem: cmd-db@81c60000 {
			compatible = "qcom,cmd-db";
			reg = <0x0 0x81c60000 0x0 0x20000>;
			no-map;
		};
	};

	bi_tcxo: bi-tcxo-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	pcie0_pipe_clk: pcie0-pipe-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	sleep_clk: sleep-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	ufs_rx0_clk: ufs-rx0-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	ufs_rx1_clk: ufs-rx1-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	ufs_tx0_clk: ufs-tx0-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	usb3_pipe_clk: usb3-pipe-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
		};

		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
		};

		cpu@200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x200>;
			enable-method = "psci";
		};

		cpu@300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x300>;
			enable-method = "psci";
		};

		cpu@400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x400>;
			enable-method = "psci";
		};

		cpu@500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x500>;
			enable-method = "psci";
		};

		cpu@10000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10000>;
			enable-method = "psci";
		};

		cpu@10100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10100>;
			enable-method = "psci";
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";

		cluster_pd2: power-domain-cluster {
			#power-domain-cells = <0>;
			status = "disabled";
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <19200000>;
	};

	firmware {
		scm {
			compatible = "qcom,scm-canoe", "qcom,scm";
		};
	};

	soc@0 {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0x0 0x0 0x0 0x0 0x10 0x0>;

		intc: interrupt-controller@17000000 {
			compatible = "arm,gic-v3";
			reg = <0x0 0x17000000 0x0 0x10000>,
			      <0x0 0x17080000 0x0 0x200000>;
			#interrupt-cells = <3>;
			interrupt-controller;
			#redistributor-regions = <1>;
			redistributor-stride = <0x0 0x40000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};

		apps_rsc: rsc@18900000 {
			compatible = "qcom,rpmh-rsc";
			reg = <0x0 0x18900000 0x0 0x10000>,
			      <0x0 0x18910000 0x0 0x10000>,
			      <0x0 0x18920000 0x0 0x10000>;
			reg-names = "drv-0", "drv-1", "drv-2";
			interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
			label = "apps_rsc";
			qcom,drv-id = <2>;
			qcom,tcs-offset = <0xd00>;
			qcom,tcs-config = <ACTIVE_TCS 3>,
					  <SLEEP_TCS 2>,
					  <WAKE_TCS 2>,
					  <CONTROL_TCS 0>;
			power-domains = <&cluster_pd2>;
			status = "disabled";

			rpmhcc: clock-controller {
				compatible = "qcom,canoe-rpmh-clk";
				#clock-cells = <1>;
			};
		};

		tcsrcc: clock-controller@1fd5044 {
			compatible = "qcom,canoe-tcsr";
			reg = <0x0 0x1fd5044 0x0 0x1c>;
			#clock-cells = <1>;
			status = "disabled";
		};

		gcc: clock-controller@100000 {
			compatible = "qcom,canoe-gcc";
			reg = <0x0 0x100000 0x0 0x1f4200>;

			clocks = <&bi_tcxo>,
				 <&pcie0_pipe_clk>,
				 <&sleep_clk>,
				 <&ufs_rx0_clk>,
				 <&ufs_rx1_clk>,
				 <&ufs_tx0_clk>,
				 <&usb3_pipe_clk>;
			clock-names = "bi_tcxo",
				      "pcie_0_pipe_clk",
				      "sleep_clk",
				      "ufs_phy_rx_symbol_0_clk",
				      "ufs_phy_rx_symbol_1_clk",
				      "ufs_phy_tx_symbol_0_clk",
				      "usb3_phy_wrapper_gcc_usb30_pipe_clk";

			#clock-cells = <1>;
			#reset-cells = <1>;
			#power-domain-cells = <1>;
		};

		tlmm: pinctrl@f000000 {
			compatible = "qcom,canoe-tlmm";
			reg = <0x0 0xf000000 0x0 0x202000>;
			interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&tlmm 0 0 218>;

			interrupt-controller;
			#interrupt-cells = <2>;

			uart7_tx_default: uart7-tx-default-state {
				pins = "gpio62";
				function = "qup1_se7_l2";
				drive-strength = <2>;
				bias-disable;
			};

			uart7_rx_default: uart7-rx-default-state {
				pins = "gpio63";
				function = "qup1_se7_l3";
				drive-strength = <2>;
				bias-disable;
			};

			uart7_sleep: uart7-sleep-state {
				pins = "gpio62", "gpio63";
				function = "gpio";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		qupv3_1: geniqup@ac0000 {
			compatible = "qcom,geni-se-qup";
			reg = <0x0 0xac0000 0x0 0x2000>;

			clocks = <&gcc GCC_QUPV3_WRAP_1_M_AXI_CLK>,
				 <&gcc GCC_QUPV3_WRAP_1_S_AHB_CLK>;
			clock-names = "m-ahb", "s-ahb";

			#address-cells = <2>;
			#size-cells = <2>;
			ranges;
			dma-coherent;
			status = "okay";

			uart7: serial@a9c000 {
				compatible = "qcom,geni-debug-uart";
				reg = <0x0 0xa9c000 0x0 0x4000>;
				interrupts = <GIC_SPI 835 IRQ_TYPE_LEVEL_HIGH>;

				clocks = <&gcc GCC_QUPV3_WRAP1_S7_CLK>;
				clock-names = "se";

				pinctrl-names = "default", "sleep";
				pinctrl-0 = <&uart7_tx_default>, <&uart7_rx_default>;
				pinctrl-1 = <&uart7_sleep>;

				status = "okay";
			};
		};
	};
};
