// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2026, Travis Mills <travismills82@gmail.com>
 */

/ {
	#address-cells = <2>;
	#size-cells = <2>;

	clocks {
		bi_tcxo: clock-19200000 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <19200000>;
		};

		sleep_clk: clock-32768 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
		};
	};

	firmware {
		scm: scm {
			compatible = "qcom,scm-canoe", "qcom,scm";
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	chosen {
	};
};
