/dts-v1/;

#include <dt-bindings/clock/qcom,gcc-canoe.h>
#include <dt-bindings/clock/qcom,canoe-tcsr.h>
#include <dt-bindings/clock/qcom,rpmh.h>
#include <dt-bindings/interconnect/qcom,canoe-rpmh.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/soc/qcom,rpmh-rsc.h>

/ {
	model = "OnePlus 15 (Canoe early bring-up)";
	compatible = "oneplus,oneplus-15", "qcom,canoe";

	interrupt-parent = <&intc>;

	#address-cells = <2>;
	#size-cells = <2>;

	aliases {
		serial0 = &uart7;
	};

	chosen {
		stdout-path = "serial0:115200n8";
		bootargs = "console=ttyMSM0,115200n8 earlycon=qcom_geni,0x00a9c000 keep_bootcon ignore_loglevel loglevel=8";
	};

	memory@a0000000 {
		device_type = "memory";
		/* We expect the bootloader to fill in the size. */
		reg = <0x0 0xa0000000 0x0 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		aop_cmd_db_mem: cmd-db@81c60000 {
			compatible = "qcom,cmd-db";
			reg = <0x0 0x81c60000 0x0 0x20000>;
			no-map;
		};
	};

	bi_tcxo: bi-tcxo-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	pcie0_pipe_clk: pcie0-pipe-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	sleep_clk: sleep-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <32768>;
	};

	ufs_rx0_clk: ufs-rx0-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	ufs_rx1_clk: ufs-rx1-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	ufs_tx0_clk: ufs-tx0-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
	};

	usb3_pipe_clk: usb3-pipe-clk {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <125000000>;
	};

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "psci";
		};

		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "psci";
		};

		cpu@200 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x200>;
			enable-method = "psci";
		};

		cpu@300 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x300>;
			enable-method = "psci";
		};

		cpu@400 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x400>;
			enable-method = "psci";
		};

		cpu@500 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x500>;
			enable-method = "psci";
		};

		cpu@10000 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10000>;
			enable-method = "psci";
		};

		cpu@10100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x10100>;
			enable-method = "psci";
		};
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";

		cluster_pd2: power-domain-cluster {
			#power-domain-cells = <0>;
			status = "disabled";
		};
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 14 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 11 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>,
			     <GIC_PPI 10 (GIC_CPU_MASK_SIMPLE(8) | IRQ_TYPE_LEVEL_LOW)>;
		clock-frequency = <19200000>;
	};

	firmware {
		scm {
			compatible = "qcom,scm-canoe", "qcom,scm";
		};
	};

	soc@0 {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0x0 0x0 0x0 0x0 0x10 0x0>;

		intc: interrupt-controller@17000000 {
			compatible = "arm,gic-v3";
			reg = <0x0 0x17000000 0x0 0x10000>,
			      <0x0 0x17080000 0x0 0x200000>;
			#interrupt-cells = <3>;
			interrupt-controller;
			#redistributor-regions = <1>;
			redistributor-stride = <0x0 0x40000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};

		apps_rsc: rsc@18900000 {
			compatible = "qcom,rpmh-rsc";
			reg = <0x0 0x18900000 0x0 0x10000>,
			      <0x0 0x18910000 0x0 0x10000>,
			      <0x0 0x18920000 0x0 0x10000>;
			reg-names = "drv-0", "drv-1", "drv-2";
			interrupts = <GIC_SPI 3 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 4 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 5 IRQ_TYPE_LEVEL_HIGH>;
			label = "apps_rsc";
			qcom,drv-id = <2>;
			qcom,tcs-offset = <0xd00>;
			qcom,tcs-config = <ACTIVE_TCS 3>,
					  <SLEEP_TCS 2>,
					  <WAKE_TCS 2>,
					  <CONTROL_TCS 0>;
			power-domains = <&cluster_pd2>;
			status = "disabled";

			apps_bcm_voter: bcm-voter {
				compatible = "qcom,bcm-voter";
			};

			rpmhcc: clock-controller {
				compatible = "qcom,canoe-rpmh-clk";
				#clock-cells = <1>;
			};

			pmh0110_d: regulators-0 {
				compatible = "qcom,pmh0110-rpmh-regulators";
				qcom,pmic-id = "D_E0";
				status = "disabled";

				L1D: ldo1 {
					regulator-name = "pmh0110_d_l1";
					regulator-min-microvolt = <1200000>;
					regulator-max-microvolt = <1256000>;
				};
			};

			pmh0110_g: regulators-1 {
				compatible = "qcom,pmh0110-rpmh-regulators";
				qcom,pmic-id = "G_E0";
				status = "disabled";

				L4G: ldo4 {
					regulator-name = "pmh0110_g_l4";
					regulator-min-microvolt = <912000>;
					regulator-max-microvolt = <912000>;
				};
			};
		};

		tcsrcc: clock-controller@1fd5044 {
			compatible = "qcom,canoe-tcsr";
			reg = <0x0 0x1fd5044 0x0 0x1c>;
			#clock-cells = <1>;
			status = "disabled";
		};

		gcc: clock-controller@100000 {
			compatible = "qcom,canoe-gcc";
			reg = <0x0 0x100000 0x0 0x1f4200>;

			clocks = <&bi_tcxo>,
				 <&pcie0_pipe_clk>,
				 <&sleep_clk>,
				 <&ufs_rx0_clk>,
				 <&ufs_rx1_clk>,
				 <&ufs_tx0_clk>,
				 <&usb3_pipe_clk>;
			clock-names = "bi_tcxo",
				      "pcie_0_pipe_clk",
				      "sleep_clk",
				      "ufs_phy_rx_symbol_0_clk",
				      "ufs_phy_rx_symbol_1_clk",
				      "ufs_phy_tx_symbol_0_clk",
				      "usb3_phy_wrapper_gcc_usb30_pipe_clk";

			#clock-cells = <1>;
			#reset-cells = <1>;
			#power-domain-cells = <1>;
		};

		config_noc: interconnect@1600000 {
			compatible = "qcom,canoe-cnoc-cfg";
			reg = <0x0 0x01600000 0x0 0x6200>;
			#interconnect-cells = <1>;
			qcom,bcm-voters = <&apps_bcm_voter>;
			status = "disabled";
		};

		aggre_noc: interconnect@16e0000 {
			compatible = "qcom,canoe-aggre-noc";
			reg = <0x0 0x016e0000 0x0 0x42400>;
			#interconnect-cells = <1>;
			clocks = <&gcc GCC_AGGRE_UFS_PHY_AXI_CLK>,
				 <&gcc GCC_AGGRE_USB3_PRIM_AXI_CLK>,
				 <&rpmhcc RPMH_IPA_CLK>;
			qcom,bcm-voters = <&apps_bcm_voter>;
			status = "disabled";
		};

		ufs_mem_phy: phy@1d80000 {
			compatible = "qcom,canoe-qmp-ufs-phy";
			reg = <0x0 0x01d80000 0x0 0x2000>;

			clocks = <&rpmhcc RPMH_CXO_CLK>,
				 <&gcc GCC_UFS_PHY_PHY_AUX_CLK>,
				 <&tcsrcc TCSR_UFS_CLKREF_EN>;
			clock-names = "ref", "ref_aux", "qref";

			power-domains = <&gcc GCC_UFS_MEM_PHY_GDSC>;

			resets = <&ufshc_mem 0>;
			reset-names = "ufsphy";

			vdda-phy-supply = <&L4G>;
			vdda-pll-supply = <&L1D>;

			#phy-cells = <0>;

			status = "disabled";
		};

		ufshc_mem: ufs@1d84000 {
			compatible = "qcom,canoe-ufshc", "qcom,ufshc",
				     "jedec,ufs-2.0";
			reg = <0x0 0x01d84000 0x0 0x3000>,
			      <0x0 0x01d88000 0x0 0x18000>,
			      <0x0 0x01da5000 0x0 0x2000>,
			      <0x0 0x01da4000 0x0 0x10>;
			reg-names = "std", "ice", "mcq_sqd", "mcq_vs";

			interrupts = <GIC_SPI 265 IRQ_TYPE_LEVEL_HIGH>;

			clocks = <&gcc GCC_UFS_PHY_AXI_CLK>,
				 <&gcc GCC_AGGRE_UFS_PHY_AXI_CLK>,
				 <&gcc GCC_UFS_PHY_AHB_CLK>,
				 <&gcc GCC_UFS_PHY_UNIPRO_CORE_CLK>,
				 <&gcc GCC_UFS_PHY_ICE_CORE_CLK>,
				 <&rpmhcc RPMH_LN_BB_CLK3>,
				 <&gcc GCC_UFS_PHY_TX_SYMBOL_0_CLK>,
				 <&gcc GCC_UFS_PHY_RX_SYMBOL_0_CLK>,
				 <&gcc GCC_UFS_PHY_RX_SYMBOL_1_CLK>;
			clock-names = "core_clk",
				      "bus_aggr_clk",
				      "iface_clk",
				      "core_clk_unipro",
				      "core_clk_ice",
				      "ref_clk",
				      "tx_lane0_sync_clk",
				      "rx_lane0_sync_clk",
				      "rx_lane1_sync_clk";

			interconnects = <&aggre_noc CANOE_MASTER_UFS_MEM
					 &mc_virt CANOE_SLAVE_EBI1>,
					<&gem_noc CANOE_MASTER_APPSS_PROC
					 &config_noc CANOE_SLAVE_UFS_MEM_CFG>;
			interconnect-names = "ufs-ddr", "cpu-ufs";

			power-domains = <&gcc GCC_UFS_PHY_GDSC>;

			phys = <&ufs_mem_phy>;
			phy-names = "ufsphy";
			lanes-per-direction = <2>;

			resets = <&gcc GCC_UFS_PHY_BCR>;
			reset-names = "rst";
			#reset-cells = <1>;

			dma-coherent;

			status = "disabled";
		};

		gem_noc: interconnect@31100000 {
			compatible = "qcom,canoe-gem-noc";
			reg = <0x0 0x31100000 0x0 0x153080>;
			#interconnect-cells = <1>;
			qcom,bcm-voters = <&apps_bcm_voter>;
			status = "disabled";
		};

		mc_virt: interconnect-1 {
			compatible = "qcom,canoe-mc-virt";
			#interconnect-cells = <1>;
			qcom,bcm-voters = <&apps_bcm_voter>;
			status = "disabled";
		};

		tlmm: pinctrl@f000000 {
			compatible = "qcom,canoe-tlmm";
			reg = <0x0 0xf000000 0x0 0x202000>;
			interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_HIGH>;

			gpio-controller;
			#gpio-cells = <2>;
			gpio-ranges = <&tlmm 0 0 218>;

			interrupt-controller;
			#interrupt-cells = <2>;

			uart7_tx_default: uart7-tx-default-state {
				pins = "gpio62";
				function = "qup1_se7_l2";
				drive-strength = <2>;
				bias-disable;
			};

			uart7_rx_default: uart7-rx-default-state {
				pins = "gpio63";
				function = "qup1_se7_l3";
				drive-strength = <2>;
				bias-disable;
			};

			uart7_sleep: uart7-sleep-state {
				pins = "gpio62", "gpio63";
				function = "gpio";
				drive-strength = <2>;
				bias-pull-down;
			};
		};

		qupv3_1: geniqup@ac0000 {
			compatible = "qcom,geni-se-qup";
			reg = <0x0 0xac0000 0x0 0x2000>;

			clocks = <&gcc GCC_QUPV3_WRAP_1_M_AXI_CLK>,
				 <&gcc GCC_QUPV3_WRAP_1_S_AHB_CLK>;
			clock-names = "m-ahb", "s-ahb";

			#address-cells = <2>;
			#size-cells = <2>;
			ranges;
			dma-coherent;
			status = "okay";

			uart7: serial@a9c000 {
				compatible = "qcom,geni-debug-uart";
				reg = <0x0 0xa9c000 0x0 0x4000>;
				interrupts = <GIC_SPI 835 IRQ_TYPE_LEVEL_HIGH>;

				clocks = <&gcc GCC_QUPV3_WRAP1_S7_CLK>;
				clock-names = "se";

				pinctrl-names = "default", "sleep";
				pinctrl-0 = <&uart7_tx_default>, <&uart7_rx_default>;
				pinctrl-1 = <&uart7_sleep>;

				status = "okay";
			};
		};
	};
};
